@define-color background #18262e;
@define-color blue #33ccff;
@define-color green #00ff99;
@define-color red  #ec5f67;
@define-color yellow #fac863;
@define-color text  #d8dee9;

* {
  all:unset;
  font-family: 'Adwaita Mono', monospace;
  font-size: 18px;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all:unset;
  background: linear-gradient(to bottom right, #33ccff, #00ff99);
  border-radius: 20px;
}

#inner-box {
}

#outer-box {    
  background-color: @background;
  border-radius: 20px;
  margin: 2px;
  transition: 0.5s ease-in-out;
}

#scroll {
  margin: 0px;
  padding: 30px;
  border: none;
}

#input {
  all:unset;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  padding: 20px;
  border: none;
  outline: none;
  color: @text;
  box-shadow: 1px 1px 5px rgba(0,0,0, .5);
  border-radius:10;
  background-color: alpha(@background,.2);
}

#input image {
  border: none;
  color: @green;
  padding-right:10px;
}

#input * {
  border: none;
  outline: none;
}

#input:focus {
  outline: none;
  border: none;
  border-radius:10;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
  outline: none;
}

#entry {
  border: solid 2px transparent;
  margin: 5px;
  padding: 10px;
}

#entry arrow {
  border: none;
  color: @yellow;
}

#entry:selected {
  border: solid 2px white;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
}

#entry:selected #text {
  color: #33ccff;
}

#entry:drop(active) {
  background-color: @yellow !important;
}

