@define-color background #18262e;
@define-color blue #6699cc;
@define-color red  #ec5f67;
@define-color yellow #fac863;
@define-color text  #d8dee9;

* {
  all:unset;
  font-family: 'Adwaita Mono', monospace;
  font-size: 18px;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all:unset;
  padding: 20px;
  border-radius: 20px;
  background-color: alpha(@background,.95);
}

#inner-box {
  margin: 2px;
  padding: 5px
  border: none;
}

#outer-box {    
  border: none;
}

#scroll {
  margin: 0px;
  padding: 30px;
  border: none;
}

#input {
  all:unset;
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  padding: 20px;
  border: none;
  outline: none;
  color: @text;
  box-shadow: 1px 1px 5px rgba(0,0,0, .5);
  border-radius:10;
  background-color: alpha(@background,.2);
}

#input image {
  border: none;
  color: @red;
  padding-right:10px;
}

#input * {
  border: none;
  outline: none;
}

#input:focus {
  outline: none;
  border: none;
  border-radius:10;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
  outline: none;
}

#entry {
  border: none;
  margin: 5px;
  padding: 10px;
}

#entry arrow {
  border: none;
  color: @yellow;
}

#entry:selected {
  box-shadow: 1px 1px 5px rgba(255,255,255, .03);
  border: none;
  border-radius: 20px;
  background-color: transparent;
}

#entry:selected #text {
  color: @blue;
}

#entry:drop(active) {
  background-color: @yellow !important;
}

