@define-color active-dot #ec5f67;
@define-color active-dot-highlight #f58288;
@define-color filled-dot-highlight #d4555c;
@define-color background #18262e;
@define-color icon #d8dee9;
@define-color icon-hover #969ba3;

* {
  font-size: 15px;
  font-family: "Adwaita Mono", "Symbols Nerd Font", sans-serif;
}

window#waybar {
  all: unset;
}

.modules-right {
  padding: 7px;
  margin: 10 0 5 10;
  border-radius: 10px;
  background: alpha(@background, .6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
  padding: 7px;
  margin: 10 0 5 0;
  border-radius: 10px;
  background: alpha(@background, .6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(@active-dot, .4);
}

#workspaces button:hover {
  color: @filled-dot-highlight;
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all .5s ease;
}

#workspaces button.active {
  color: @active-dot;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.active:hover {
  color: @active-dot-highlight;
}

#workspaces button.empty {
  color: rgba(0,0,0,0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
  color: rgba(0,0,0,0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
  transition: all .5s ease;
}

#workspaces button.empty.active {
  color: @active-dot;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network {
  padding: 0px 5px;
  transition: all .3s ease;
  color: @icon;
}

#bluetooth {
  padding: 0px 5px;
  transition: all .3s ease;
  color: @icon;
}

#battery{
  padding: 0px 5px;
  transition: all .3s ease;
  color: @icon;
}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#clock {
  padding: 0px 5px;
  color: @icon;
  transition: all .3s ease;
}

#clock:hover, #bluetooth:hover, #network:hover, #battery:hover {
  transition: all .3s ease;
  color: @icon-hover;
}

tooltip {
  background: @background;
  /*color: @icon;*/
  /*margin-top: 10px;*/
}
